.create {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.textEnter {
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    width: 80%;
    resize: none;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px 5px;
}

.textEnter:focus {
    box-shadow: 0 0 10px rgba(0,0,0, 0.9);;
}

button,
button:active,
button:focus {
    outline: none;
}

.btn,
.clear{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #A5E3FF;
    font-size: 18px;
    color: #333333;
    margin: 10px 0;
}

.clear {
    background-color: #C4FFA6;
}

.btn:hover,
.clear:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.btn:hover {background-color: #C3ECFF}
.clear:hover {background-color: #D9FFC7}

.btn:active {
    background-color: #80D8FF;
    padding: 9px 14px;
}