.mark {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
}

.mark:hover {
    cursor: pointer;
    border-color: #B7B7B7;
}

.mark:active {
    background-color: #B7B7B7;
}